.btn {
    border: none;
    background: #fff;
    font-size: 1.5rem;
    opacity: 0.4;
}

.btn-submit--left {
    border: 1px solid #614f4f;
    background-color: $left-edit-btn;
    font-size: 2rem;
    font-weight: 600;
    padding: 8px;
    margin: 10px;
    margin-left: 50%;
}

.btn-submit--right {
    border: 1px solid #614f4f;
    background-color: $right-btn-background;
    font-size: 2rem;
    font-weight: 600;
    padding: 8px;
    margin: 10px;
}

.btn:hover {
    opacity: 1;
}

.edit {
    position: relative;
    left: 15rem;
}

.left {
    background: $left-background;
}

.edit-right {
    position: relative;
    left: 80%;
}

.left--delete {
    position: relative;
    bottom: 4.8rem;
    left: 13rem;
}

.right--delete{
    position: relative;
    margin-left: auto;
    height: 50px;
}