@media (max-width: 860px) {
    header {
        border-radius: 0 15px 15px 0;
    }
    .components-container{
        width: 100%;
        margin: 0;
    }

    .left-container {
        padding: 2rem 1rem;
        height: auto;
    }

    .right-container{
        width: 100%;
        height: auto;
        padding: 3rem 1rem;
    }
    
    .flex-info-container {
        margin-left: 0;
    }
}